<!DOCTYPE html>
<html>
  <head>
    <title>Aula de HTML</title>
    @vite(['resources/js/app.js', 'resources/css/app.css'])

  </head>
  <body>
    <section class="w-full px-6 pb-12 antialiased bg-white">
      <div class="mx-auto max-w-7xl">
        @include('components/layouts/partials/header')

        <div>
          {{{ await $slots.main() }}}
        </div>
      </div>
    </section>
  </body>
</html>
