<!DOCTYPE html>
<html>
  <head>
    <title>Aula de HTML</title>
    @vite(['resources/js/app.js', 'resources/css/app.css'])

  </head>
  <body>
    @include('components/layouts/partials/header')

    {{{ await $slots.main() }}}
  </body>
</html>
