@layouts.app()
  <main>
    <div>
      <div>Produtos</div>
      <ul>
        @each(product in products)
          <li>
            <a href="{{ route('products.show', { id: product.id }) }}">
              {{product.name}}
            </a>
            - {{ product.price }}
          </li>
        @end
      </ul>
    </div>
  </main>
@end
