@layouts.app()
  <div>
    <div class="bg-slate-200">
      <p>
      Nome:
      {{ product.name }}
      </p>
    </div>
    <div>
      categoria {{ product.category.name }}
    </div>
  </div>
@end
